<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="UTF-8">
    <title>Ajuda online</title>
    <link href="../bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../bootstrap-3.3.4/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
<header>
    <span class="texto_pequeno" style="margin: 10px 0 0 790px; position: absolute">Sistema de distribuição de geladinhos</span>
</header>
<nav style="width: 100%; background-color: #f1f1f1; height: 40px">
    <table style=" position: absolute; margin: 0 870px 0 870px">
        <tr>
            <td><a href="../controler/vendas.php"><input style="margin-right: 10px" type="button" class="btn btn-default" value="Vendas"></a></td>
            <td><a href="../controler/relatorio.php"><input style="margin-left: 10px" type="button" class="btn btn-default" value="Relatórios"></a></td>
        </tr>
    </table>
</nav>
<section class="corpo">
    <div style="background-color: rgba(255, 255, 255, 0.62); border-radius: 5px; padding: 10px; margin: 10px">
        <h1 class="texto_grande" style="display: inline-block; margin-left: 25px">Ajuda online</h1>
        <hr>
        <h3 class="texto_grande" style="font-size: 14pt; display: inline-block; margin-left: 25px">Como relizar uma venda?</h3>
        <ul>
           <li style="margin: 5px 0 0 70px"><b>No menu superior clique em "venda"</b></li>
            <li style="margin: 5px 0 0 70px"><b>Selecione um cliente</b></li>
            <li style="margin: 5px 0 0 70px"><b>A partir dai, selecione os produtos e respectiva quantidades e clique em "Adicionar produto"</b></li>
            <li style="margin: 5px 0 0 70px"><b>Caso queira excluir um produto, basta clicar em "Excluir" ao lado do produto listado</b></li>
        </ul>
        <h3 class="texto_grande" style="font-size: 14pt; display: inline-block; margin-left: 25px">Legenda de STATUS:</h3>
        <ul>
            <li style="margin: 5px 0 0 70px"><b>Aguardando pagamento:</b> a venda foi homologada e está aguardando pagamento. Caso o pagamento seja via boleto bancário, será necessária a confirmação de recebimento.</li>
            <li style="margin: 5px 0 0 70px"><b>Aguardando entrega:</b> o pagamento já foi confirmado e está aguardando ser entregue.</li>
            <li style="margin: 5px 0 0 70px"><b>Em andamento:</b> A venda foi homologada mas não exite estoque suficiente. A venda fica em andamento até que seus produtos cheguem.</li>
            <li style="margin: 5px 0 0 70px"><b>Concluído:</b> a venda já foi paga e entregue.</li>
            <li style="margin: 5px 0 0 70px"><b>Devolvido:</b> a venda foi devolvida.</li>
            <li style="margin: 5px 0 0 70px"><b>Excluído:</b> a venda foi excluída, mas, continua visível nos relatórios gerenciais.</li>
        </ul>
        <h3 class="texto_grande" style="font-size: 14pt; display: inline-block; margin-left: 25px">Opções para cada venda:</h3>
        <ul>
            <li style="margin: 5px 0 0 70px"><b>Produtos:</b> Visualizar os produtos da venda.</li>
            <li style="margin: 5px 0 0 70px"><b>Excluir:</b> Exclui a venda.</li>
            <li style="margin: 5px 0 0 70px"><b>Pagar (3 situações):</b>
                <ul>
                    <li style="margin: 5px 0 0 70px"><b>Pago (botão desabilitado):</b> A venda já foi paga e não pode ser paga novamente.</li>
                    <li style="margin: 5px 0 0 70px"><b>À pagar:</b> Leva para a área de pagamento.</li>
                    <li style="margin: 5px 0 0 70px"><b>Boleto pago:</b> A opção de pagamento escolhida foi "Boleto à vista", este botão confirma o recebimento boleto.</li>
                </ul>
            </li>
            <li style="margin: 5px 0 0 70px"><b>Entrega (3 situações):</b>
                <ul>
                    <li style="margin: 5px 0 0 70px"><b>Entregue (botão desabilitado):</b> A venda já foi entregue e não pode ser entregue novamente.</li>
                    <li style="margin: 5px 0 0 70px"><b>Aguardando (botão desabilitado):</b> A venda ainda não foi paga e por isso não pode ser entregue.</li>
                    <li style="margin: 5px 0 0 70px"><b>Confirmar:</b> A venda se encontra com o status "Aguardando entrega". Este botão marca a venda como entregue.</li>
                </ul>
            </li>
            <li style="margin: 5px 0 0 70px"><b>Devolver (3 situações):</b>
                <ul>
                    <li style="margin: 5px 0 0 70px"><b>Devolvido (botão desabilitado):</b> A venda já foi devolvida e não pode ser devolvida novamente.</li>
                    <li style="margin: 5px 0 0 70px"><b>Devolver (botão desabilitado):</b> A venda ainda não foi paga nem entregue e por isso não pode ser devolvida.</li>
                    <li style="margin: 5px 0 0 70px"><b>Devolver:</b> Marca a venda como devolvida.</li>
                </ul>
            </li>
            <li style="margin: 5px 0 0 70px"><b>Solicitar nota fiscal:</b> Gera a nota fiscal da venda.</li>
            <li style="margin: 5px 0 0 70px"><b>Solicitar Comprovante de pagamento:</b> Gera o comprovante de pagamento da venda.</li>
        </ul>

        <h3 align="center" style="font-size: 14pt; margin: auto; margin-top: 25px">Contato:</h3>
        <h3 align="center" style="font-size: 12pt; margin: 5px auto">vinicius___vivan@hotmail.com</h3>
        <h3 align="center" style="font-size: 12pt; margin: 5px auto">(44) 9822-1014</h3>

    </div>
    </section>

</section>
</body>
</html>