<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Boleto</title>
    <style>

        td{
            border: 1px solid black;
            padding: 2px;
            margin: 0;
        }
        tr{
            margin: 0;
        }
        table{
            margin: 0;
        }
    </style>

</head>
<body>
<section>
    <h1 style="text-align: center; font-size: 30px">Sistema de distribuição de geladihos</h1>
    <h2 style="text-align: center; font-size: 25px">Boleto à vista</h2>
    <hr>
    <h3>Cliente: <b>NOME DO CLIENTE</b></h3>
    <h3>Data de emissão: <b>DATA ATUAL</b></h3>
    <table>
        <tr>
            <td width="50px">Logo do banco</td>
            <td width="50px" style="font-size: 20px"><b>001-9</b></td>
            <td width="900px" colspan="4" style="font-size: 15px"><b>00190.00009 01490.336003 00000.001016 9 4103000000VALOR</b></td>
        </tr>
            <td width="600px" colspan="5">Local do pagamento: <b>Até o vencimento pode ser pago em qualquer banco</b></td>
            <td width="400px">Vencimento: <b>09/02/2016</b></td>
        <tr>
            <td width="600px" colspan="5">Cedente: <b>Sistema de distribuição de geladinhos</b></td>
            <td width="400px">Agência:  <b>077/080158</b></td>
        </tr>
        <tr>
            <td width="150px">Data do documento: <b>DATA ATUAL</b></td>
            <td width="150px">Numero do documento:  <b>789</b></td>
            <td width="100px">Espécie Doc.: <b>RC</b></td>
            <td width="150px">Aceite: <b>N</b></td>
            <td width="150px">Data do processamento: <b>Data Atual</b></td>
            <td width="400px">Nosso numero: <b>062</b></td>
        </tr>
        <tr>
            <td width="200px">Uso do banco</td>
            <td width="200px">Carteira: <b>175</b></td>
            <td width="100px">Espécie: <b>R$</b></td>
            <td width="200px" colspan="2">Quantidade: </td>
            <td width="400px">Valor do documento: <b>VALOR</b></td>
        </tr>
        <tr>
            <td width="200px" colspan="6" style="height: 200px"><b>Seu pedido será entrege em até 5 dias úteis após o pagamento desde boleto. O pagamento pode demorar até 48 horas para ser efetivado</b></td>
        </tr>
    </table>
    <hr>
    <img style="margin-top: 40px; width: 500px; float: left" src="../imagens/codigo.jpg">

</section>
</body>
</html>